<a href="https://colab.research.google.com/github/Reinaldos/IMDb-Movies-Ratings-Analysis/blob/main/wallmart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Colaborando**
# c√≥digo para soma de 2 valores

In [ ]:
import pandas as pd

In [ ]:
serie1 = pd.Series([10,15,20,30], index = ['a','b','c','d'])
serie1

a    10
b    15
c    20
d    30
dtype: int64

In [ ]:
serie2 = pd.Series([20,13,28,35], index = ['a','b','c','d'])
serie2

a    20
b    13
c    28
d    35
dtype: int64

In [ ]:
serie1+serie2

a    30
b    28
c    48
d    65
dtype: int64

In [ ]:
serie1*serie2

a     200
b     195
c     560
d    1050
dtype: int64

In [ ]:
serie1/serie2

a    0.500000
b    1.153846
c    0.714286
d    0.857143
dtype: float64

In [ ]:
serie1-serie2

a   -10
b     2
c    -8
d    -5
dtype: int64

In [ ]:
serie3 = pd.Series([20,13,28], index = ['a','b','c'])
serie3

a    20
b    13
c    28
dtype: int64

In [ ]:
serie1+serie3

a    30.0
b    28.0
c    48.0
d     NaN
dtype: float64

In [ ]:
serie1*serie3

a    200.0
b    195.0
c    560.0
d      NaN
dtype: float64

In [ ]:
serie1/serie3

a    0.500000
b    1.153846
c    0.714286
d         NaN
dtype: float64

In [ ]:
serie1-serie3

a   -10.0
b     2.0
c    -8.0
d     NaN
dtype: float64

In [ ]:
df = df. rename(columns={'$a':'a'})

NameError: ignored

## ***Chegamos a conclus√£o que quando n√£o existe compatibilidade entre os indices o resultado √© NaN***

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
idades = pd.Series([10,12,15,18,36,42])
idades

In [ ]:
url = https://raw.githubusercontent.com/parvathy-nsarma/Walmart-Data/main/Walmart_Store_sales.csv
wallmart = pd.read_csv.(url)

In [ ]:
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/parvathy-nsarma/Walmart-Data/main/Walmart_Store_sales.csv'
walmart = pd.read_csv(url)
walmart

In [ ]:
walmart [:10]

In [ ]:
walmart.query ('Holiday_Flag == 1')

In [ ]:
walmart.query ('10000 <= Weekly_Sales < 300000')

In [ ]:
walmart['Date'][1]

In [ ]:
walmart.iloc[0]['Date']

In [ ]:
walmart [:1]['Date']

In [ ]:
walmart.iloc[0,1]

In [ ]:
walmart.iloc[0,3]

In [ ]:
walmart.loc[0:1]['Date']

In [ ]:
walmart.iloc[[0,1,2]]

In [ ]:
rei = walmart.T
rei

In [ ]:
rei.iloc[[0,1]]

In [ ]:
url = 'https://people.sc.fsu.edu/~jburkardt/data/csv/nile.csv'
pessoas = pd.read_csv(url)
pessoas

In [ ]:
pessoas.iloc[[1,3]]

In [ ]:
pessoas.query (' Year < 10')

In [ ]:
pessoas.query ('Year == 5')

In [ ]:
pessoas.query('Year < 10')&()

In [ ]:
pessoas.query('Year == 5')[' "Flood"']

pessoas[pessoas["Year"]==5][' "Flood"']

pessoas.loc[(pessoas['Year'] < 10) & (pessoas[' "Flood"'] < 10.0)]

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot([1,2,3,4], 'ro')
plt.show()

In [ ]:
fig1, f1_axes = plt.subplots(ncols=2,nrows=2)

In [ ]:
f1_axes

In [ ]:
f1_axes[0, 0].plot(x)

In [ ]:
f1_axes

In [ ]:
import numpy as np

In [ ]:
y = np.arrange(0,10,0.1)
fig1, f1_axes = plt.subplots(ncols=2,nrows=2)
f1_axes[0,0].plot(np.sin(x))

In [ ]:
serie1 = pd.Series(index = ['arroz','feij√£o','macarr√£o','mistura'])
serie1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

arroz      NaN
feij√£o     NaN
macarr√£o   NaN
mistura    NaN
dtype: float64

SyntaxError: ignored

In [ ]:
palavras = ['dados', 'python', 'sql', 'poo', 'pandas', 'numpy']

In [ ]:
palavras = pd.Series(palavras)

In [ ]:
palavras

0     dados
1    python
2       sql
3       poo
4    pandas
5     numpy
dtype: object

In [ ]:
palavras.str.lower()

0     dados
1    python
2       sql
3       poo
4    pandas
5     numpy
dtype: object

In [ ]:
palavras.str.upper()

0     DADOS
1    PYTHON
2       SQL
3       POO
4    PANDAS
5     NUMPY
dtype: object

In [ ]:
palavras.str.upper()

0     DADOS
1    PYTHON
2       SQL
3       POO
4    PANDAS
5     NUMPY
dtype: object

In [ ]:
def upper_first_last(pd.Series):
    pd.Series.str.upper()
    return pd.Series

SyntaxError: ignored

In [ ]:
import pandas as pd
import numpy as np

ser1 = ['dados', 'python', 'sql', 'poo', 'pandas', 'numpy']

def upper_first_last(ser1: pd.Series) -> pd.Series:
  return ser1.apply(lambda s: s[0].upper()+s[1:-1]+ s[-1].upper)

In [ ]:
pd.Series(["Luciano","Matheus", "Rodrigo", "Bruno", "Michel"], index=range(0,5))

In [ ]:
import pandas as pd
import numpy as np
dados = Entrada: ['dados', 'python', 'sql', 'poo', 'pandas', 'numpy']
def upper_first_last(ser1: pd.Series) -> pd.Series:
  return ser1.apply(lambda s: s[0].upper()+s[1:-1]+ s[-1].upper)

SyntaxError: ignored

In [ ]:
ser1

['dados', 'python', 'sql', 'poo', 'pandas', 'numpy']

In [ ]:
upper_first_last(ser1)

TypeError: ignored

In [ ]:
upper_first_last(Entrada)

AttributeError: ignored

In [ ]:
x = [1,2,3,4,5]
print (x[::-1])

[5, 4, 3, 2, 1]

In [ ]:
x = [print(i)for i in range(10) if i % 2 == 0]

0
2
4
6
8

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df= pd.DataFrame({
            'nome': ['Monica', 'Magali', 'Franjinha','casc√£o','cebolinha','xaveco','nimbus'],
            'cidade': ['S√£o Paulo', 'Rio de Janeiro','Cear√°', 'Brasilia' ,'Curitiba' ,'Belo Horizonte','Salvador'],
            'idade': [19, 22, 24,20,20,23,28],
            'nota': [83.0, 86.0, 98.0, 59.0,70.0,41.0,74.0]})

In [ ]:
df

        nome          cidade  idade  nota
0     Monica       S√£o Paulo     19  83.0
1     Magali  Rio de Janeiro     22  86.0
2  Franjinha           Cear√°     24  98.0
3     casc√£o        Brasilia     20  59.0
4  cebolinha        Curitiba     20  70.0
5     xaveco  Belo Horizonte     23  41.0
6     nimbus        Salvador     28  74.0

In [ ]:
def get_df():
  df = np.where(df['nota']>=76.5, 'nome', 'cidade')
  print(df)
  get_df(df)

In [ ]:
get_df

In [ ]:
import pandas as pd
import numpy as np

dfmonica = pd.DataFrame({
'nome': ['Monica','Cebolinha', 'Magali','Casc√£o','Franjinha','Xaveco','Nimbus'],
'cidade': ['S√£o Paulo','Cear√°','Rio de aneiro','Bras√≠lia','Salvador','Curitiba','Belo Horizonte'],
'idade': [19,20,22,20,24,23,18],
'nota': [83.0,59.0,86.0,70.0,98.0,41.0,74.0]})

def get_df():
  dfmonica = np.where(dfmonica['nota']>=76.5, 'nome', 'cidade')
  print(dfmonica)
def get_age():
  dfmonica = np.where(dfmonica['idade'] <18, 'nome', 'cidade')
  print(dfmonica)

In [ ]:
get_age

In [ ]:
def descending_order1(num):
   while num > 0:
    num = num - 1
    print (num)

In [ ]:
descending_order1(10)

9
8
7
6
5
4
3
2
1
0

Sua tarefa √© fazer uma fun√ß√£o que possa receber qualquer inteiro n√£o negativo como argumento e devolv√™-lo com seus d√≠gitos em ordem decrescente. Essencialmente, reorganize os d√≠gitos para criar o n√∫mero mais alto poss√≠vel.

In [ ]:
def descending_order1(num):
   while num > 0:
    num = num - 1
    print (num)